@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/random");
  background-size: cover;
  background-position: center center;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 140%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

h4 {
  margin: 0 0 5px;
}

progress {
  width: 100%;
}

p {
  line-height: 1.5;
}

.container {
  background-color: #fff;
  padding: 30px;
  width: 650px;
  max-width: 100%;
  text-align: center;
}

.container .text {
  display: flex;
  flex-wrap: wrap;
}

.container input {
  padding: 12px 15px;
  font-size: 20px;
  margin: 10px 0;
  width: 100%;
}

.start-btn {
  border: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 12px 15px;
}

.wpm {
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: right;
}

.green {
  color: green;
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.underline {
  border-bottom: 1px solid #000;
}

.word {
  font-size: 20px;
  margin: 2px;
}

.share {
  color: #38a1f3;
}

@media screen and (max-width: 650px) {
  p {
    line-height: 1.3;
  }

  .container {
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
  }

  .wpm {
    display: none;
  }
}
